<?xml version="1.0"?>

<model>
  <name>sofa</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Chan Tao</name>
    <email>chantao98@gmail.com</email>
  </author>

  <description>
    A sofa. Model design by printable_models from the free3D community at:
    https://free3d.com/3d-model/hsm0012-v2--296528.html
  </description>
</model>
