<?xml version="1.0"?>

<model>
  <name>laptop</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Chan Tao</name>
    <email>chantao98@gmail.com</email>
  </author>

  <description>
    Simple laptop.Model design by 3dhaupt from the free3D community at:
    https://free3d.com/3d-model/notebook-low-poly-version-57341.html
  </description>
</model>
