<?xml version="1.0"?>

<model>
  <name>coffee_table</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Chan Tao</name>
    <email>chantao98@gmail.com</email>
  </author>

  <description>
    Coffee table. Model design by tyrosmith from the Free3D community at:
    https://free3d.com/3d-model/low-poly-stylish-modern-desk-table-6006.html
  </description>
</model>
