<?xml version="1.0"?>

<model>
  <name>metal_cabinet</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Chan Tao</name>
    <email>chantao98@gmail.com</email>
  </author>

  <description>
    A sheet metal cabinet. Model design by Tsvetan Milenkov from the grabcad community at:
    https://grabcad.com/library/sheet-metal-cabinet-for-archives-1
  </description>
</model>
