<?xml version="1.0"?>

<model>
  <name>office_cabinet</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Chan Tao</name>
    <email>chantao98@gmail.com</email>
  </author>

  <description>
    Cabinet in office. Model design by dikiachmadp from the free3D community at:
    https://free3d.com/3d-model/ikea-cupboard-11383.html?__cf_chl_jschl_tk__=57903f736fc2806afa718b862b88f7e10cbf8634-1605928804-0-AWLsoBI10eQxZ1KVUCmKhgool8YSBMAS8OOmWC1HV7jh0Wcy80mnGWikinxLxwKmkgFtfb15JZNpP98AY1reM79ZvVzI6VNvVYVyOYHnVSlXvKnNqfBhGk2YD78Vbzt0ehnM2Zpxi6aNdgtQdm4tZVYzawoSzTMDETDzFLuZDyW8soh82qPp3RB373wKrPhc6oEybjDpcCQH7mz9JAAQA0Z6R64Y6pDil7suMXsYHY4dU2R00WK-2O-jYFxvNY1_gyHEFMDq6menjd7iX3nrDiBYbBP3iaU_8OHm1UMi1ztXq6xHz6wMIckdfNVNya9u73ZFgosYCzuXU-GAgnu9_vMu1rCTd3TnI7YrG5hq1da5
  </description>
</model>
