<?xml version="1.0"?>

<model>
  <name>water_dispenser</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Chan Tao</name>
    <email>chantao98@gmail.com</email>
  </author>

  <description>
    Water dispenser. Model design by Victor Bonavarte 6779 from the grabcad community at:
    https://grabcad.com/library/water-cooler-dispenser-1
  </description>
</model>
