<?xml version="1.0"?>

<model>
  <name>bean_bag</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Chan Tao</name>
    <email>chantao98@gmail.com</email>
  </author>

  <description>
    Bean bag model. Model design by Mohamed Shams from the gracad community at:
    https://grabcad.com/library/beanbag-2
  </description>
</model>
