<?xml version="1.0"?>

<model>
  <name>boss_desk</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Chan Tao</name>
    <email>chantao98@gmail.com</email>
  </author>

  <description>
    Modern Desk. Model design by mmnkl9 from the Free3D community at:
    https://free3d.com/3d-model/modern-desk-34387.html
  </description>
</model>
